.pageTitle {
    background: #e0e3e4;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    color: #000;
    border: 2px solid #000;
}
.table-sm td, 
.table-sm th{
padding: 0.25rem 1.25rem !important;
}
.bnone{
    border: none !important;
}
.br3{
    border: 3px solid #000;
}
.brTopBlack{
    border-top: 1px solid #000;
}
.theadBG{
    background-color: #e2e2e2 !important;
    font-weight: bold;
}
.barcode{
    justify-content: center;
}
.sigTitle2 {
    text-align: center;
    border-top: 1px solid;
    width: 46%;
    margin: auto;
}

@media print {
    .brTop{
        border-top: 1px solid #000;
    } 
    .table.table-bordered td{
        border-color: #000 !important;
    }
    .table.table-bordered td.theadBG{
        background-color: #e2e2e2 !important;
        font-weight: bold;
    }
    .table.table-bordered td.pageTitle {
        background: #e0e3e4 !important;
        padding: 5px !important; 
        text-align: center !important;
        text-transform: uppercase !important;
        font-weight: bold !important;
        letter-spacing: 4px !important;
        color: white !important;
        border: 2px solid #000 !important;
    }
    
}